{% extends 'base.html' %}


{% comment %} 

This page has a list all subjects and Availability of examquestion
If available, there is a link which is clickable after the exam is available i.e. on exam date on exam time


For eg:

Subject 1                       May 30 2023, 10:00 am            Link to exam (activated on that date at that time)
Subject 2                       Not Available  

{% endcomment %}







{% block title %}
    All Exams
{% endblock %}


{% block content %}
        {% if user.is_staff %}
        {{forms.as_p}}
        {% elif user.is_authenticated %}
        <table>
            <tr>
                <th>Subject</th>
                <th>Exam Availability</th>
                <th>Exam Date</th>
                <th>Link</th>
            </tr>
            {% for subject,value in subjects %}
            <tr>
                <td>{{subject.subject}}</td>
                <td>{{subject.availability}}</td>
                {% if subject.availability %}
                <td>{{value|get_date}}</td>
                <td><a href="{% url 'exam' %}">Link</a></td>
                {% else %}
                <td>-</td>
                <td>-</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table
{% endblock %}