{% comment %} 

This page has a list all subjects and Availability of examquestion
If available, there is a link which is clickable after the exam is available i.e. on exam date on exam time


For eg:

Subject 1                       May 30 2023, 10:00 am            Link to exam (activated on that date at that time)
Subject 2                       Not Available  

{% endcomment %}




{% extends 'base.html' %}


{% block title %}
    All Exams
{% endblock %}


{% block content %}

{% endblock %}