{% extends 'base.html' %}
{% load custom_tags %}

{% comment %} 

This page has a list all subjects and Availability of examquestion
If available, there is a link which is clickable after the exam is available i.e. on exam date on exam time


For eg:

Subject 1                       May 30 2023, 10:00 am            Link to exam (activated on that date at that time)
Subject 2                       Not Available  

{% endcomment %}







{% block title %}
    All Exams
{% endblock %}


{% block content %}
<div class="px-10 py-5">
    <h1>All Exams</h1>
        {% if user.is_authenticated %}
        <div class="flex justify-center">
            <div class="border border-gray-300">
        <table class="w-full">
            <tr>
                <th class="border-b border-gray-300 px-4 py-2">Subject</th>
                <th class="border-b border-gray-300 px-4 py-2">Exam Availability</th>
                <th class="border-b border-gray-300 px-4 py-2">Link</th>
            </tr>
            {% for subject in subjects %}
            <tr>
                <td class="border-b border-gray-300 px-4 py-2">{{subject.subject}}</td>
                <td class="border-b border-gray-300 px-4 py-2">{{subject.availability|get_availability }}</td>
                {% if subject.availability %}
                <td><a href="{% url 'examquestion' %}">Link</a></td>
                {% else %}
                <td class="border-b border-gray-300 px-4 py-2">-</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</div>
        {% endif %}
{% endblock %}