{% extends 'base.html' %}
{% load custom_tags %}


{% block title %} 
Exam
{% endblock %}

{% block content %} 

<h1><b> Exams </b></h1>


<form method="post" action="{% url 'calculate_marks' %}">
    {% csrf_token %}
    {% for question,count in questions.items %}
      <div>
        <p><b>Q{{count}} . </b>{{ question.question }}?</p>
        {% for option in question.options|get_options %}
          <label style="padding-left:20px;">
            <input type="radio" name="answer{{ question.id }}" value="{{ option }}">
                 {{ option }}
          </label>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>

{% endblock %}