{% extends 'base.html' %}
{% load custom_tags %}

{% block title %} 
Questionnaire
{% endblock %}

{% block content %} 
<div class="px-10"> 
        {% for question in questions %}
        <div>
          <p><b>Q.{{ question.question }}?</b></p>
          <p><b>Ans.</b>{{ question.correct }}</p>
          {% for option in question.options|get_options %}
            <label>
              <li style="padding-left:25px;">
              <b>.</b>{{ option }}              <br>
            </li>

            </label>
          {% endfor %}
          <br><hr>
{% endfor %}
          </div>
{% endblock %}