{% extends 'base.html' %} 


{% block title %} 
NoticeBoard 
{% endblock %} 


{% block content %}
<div class="bg-green-700 justify-center items-center text-white w-20 font-bold py-2 px-4 rounded flex items-center"><a href="javascript:history.back()"> <- </a></div>

<div class="ml-10 mt-4 border border-gray-300 rounded p-4 flex flex-col gap-4 w-160 bg-white p-6 rounded-lg shadow-md">
	<h1 class="bg-blue-700 justify-center items-center text-white font-bold py-2 px-4 rounded flex items-center">All Notices</h1>

		{% if request.user.is_staff %}
		{% for notice in notices %}		
		<div class="ml-4 mt-4 border border-gray-600 rounded p-4 flex flex-col gap-4 w-96 bg-white p-6 rounded-lg shadow-md">
			<a href="{% url 'noticeX' notice.id %}" class="hover:pl-0 py-1.5 duration-300 border-l-4 border-l-transparent hover:border-l-blue-800 px-20"> {{notice}} </a>
		</div>

			<button class="bg-transparent hover:bg-gray-300 text-green font-bold py-2 px-4 rounded flex items-center">
			<span><a href="{% url "updateNotice" notice.id %}">Update</a>
			</button>

				<button class="bg-transparent hover:bg-gray-300 text-red font-bold py-2 px-0 rounded flex items-center" onclick="return confirm('Are you sure you want to delete?')">
				<span><a href="{% url "deleteNotice" notice.id %}">Delete</a>
				</button>
 
	{% endfor %}
	{% else %}
		{% for notice in notices %}
		<div class="ml-4 mt-4 border border-gray-600 rounded p-4 flex flex-col gap-4 w-96 bg-white p-6 rounded-lg shadow-md">
			<a href="{% url 'noticeX' notice.id %}" class="hover:pl-0 py-1.5 duration-300 border-l-4 border-l-transparent hover:border-l-blue-800 px-20"> {{notice}} </a>
		</div>
	{% endfor %}
	{% endif %}

	</div>
	</div>	
<br>
	{% if user.is_staff %}
	<h1 class="uppercase text-2xl font-semibold my-2">Add a notice:</h1>
	<div class="flex justify-center">
		<form action="" method="POST" class="mt-4 border border-gray-300 rounded p-4 w-96">
		  {% csrf_token %}
		  {% for field in form %}
		  <div class="mb-4">
			<label for="{{ field.id_for_label }}" class="block">{{ field.label }}</label>
			{{ field }}
		  </div>
		  {% endfor %}
		  <button type="submit" class="bg-green-500 py-1 w-24 mx-auto text-white rounded-md hover:bg-green-600">Add Notice</button>
		</form>
	  </div>
	{% endif %}
</main>

{% endblock %}
