{% extends 'base.html' %} {% block title %} NoticeBoard {% endblock %} {% block content %}

<main class="container mx-auto p-4">
	<h1 class="uppercase text-2xl font-semibold my-2">All notices:</h1>

	<ul class="grid grid-cols-1 gap-2">
		{% for notice in notices %}
		<li
			class="hover:pl-5 py-1.5 duration-300 border-l-4 border-l-transparent hover:border-l-blue-800"
		>
			<a href="{% url 'noticeX' notice.id %}"> {{notice}} </a>
		</li>
		<hr />
	</ul>
	{% endfor %}

	{% if user.is_staff %}
	<h1 class="uppercase text-2xl font-semibold my-2">Add a notice:</h1>
	<form action="" method="POST" class="mt-4 border border-gray-300 rounded p-4 flex flex-col gap-2 w-96">
		{% csrf_token %}
		<div >
		<div>
		{{form.as_p}}
		<br>
		<button type="submit" class="bg-green-500 py-1 w-24 mx-auto text-white rounded-md hover:bg-green-600">Submit</button>
	</div>
	{% endif %}
</main>

{% endblock %}
