{% extends 'base.html' %} {% block title %} NoticeBoard {% endblock %} {% block content %}

<main class="container mx-auto p-4">
	<h1 class="uppercase text-2xl font-semibold my-2">All notices:</h1>

	<ul class="grid grid-cols-1 gap-2">
		{% for notice in notices %}
		<li
			class="hover:pl-5 py-1.5 duration-300 border-l-4 border-l-transparent hover:border-l-blue-800"
		>
			<a href="{% url 'noticeX' notice.id %}"> {{notice}} </a>
		</li>
		<hr />
	</ul>
	{% endfor %}

	{% if user.is_staff %}
	<h1 class="uppercase text-2xl font-semibold my-2">Add a notice:</h1>
	<form action="" method="POST">
		{% csrf_token %}
		{{form.as_p}}
		

	{% endif %}
</main>

{% endblock %}
