{% extends 'base.html' %}
{% load static %}


{% block script %}
// Automatically hide the flash message after 5 seconds
setTimeout(function() {
    var flashMessage = document.querySelector('.flash-message');
    if (flashMessage) {
        flashMessage.style.display = 'none';
    }
}, 4000);
{% endblock %}

{% block title %} 
Prepare Question
{% endblock %}

{% block content %} 

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><div style="color:white;" class="flash-message w-200 h-410 bg-gray-600 rounded-lg flex justify-center items-center"> {{ message }}</div></li>
    {% endfor %}
</ul>
{% endif %}


<div class="px-10">
<div class="flex justify-center items-center min-h-screen w-full">

<form method="POST" action="{% url 'prepare' %}" class="ml-auto mr-[7.5%] flex flex-col gap-2 w-96 bg-white p-6 rounded-lg shadow-md">
    {% csrf_token %}
    <label>Question:</label>
    <input class="bg-gray-100 py-1 indent-2 rounded-md" name="question" placeholder="Enter Question.">

    <label>Option 1:</label>
    <input class="bg-gray-100 py-1 indent-2 rounded-md" name="option1" placeholder="Enter an option">

    <label>Option 2:</label>
    <input class="bg-gray-100 py-1 indent-2 rounded-md" name="option2" placeholder="Enter an option">
    <label>Option 3:</label>
    <input class="bg-gray-100 py-1 indent-2 rounded-md" name="option3" placeholder="Enter an option">

    <label>Option 4:</label>
    <input class="bg-gray-100 py-1 indent-2 rounded-md" name="option4" placeholder="Enter an option">

    {{form.as_p}}

    


    
    <button type="submit" class="bg-green-500 py-1 w-24 mx-auto text-white rounded-md hover:bg-green-600">Submit</button>

</form>
</div>
</div>


{% endblock %}