{% extends 'base.html' %}
{% load custom_tags %}

{% comment %} 

Ya chai sabai student ko list hunxa 
subject dropdown hunxa from which we select subject whose result we want to see 
Accessible to student and teachers both

has columns as:

|Student Name   | Marks Obtained | Remarks |
|1. Ram         |     40         |  Pass   |


{% endcomment %}





{% block title %}
Results List
{% endblock %}


{% block content %}
<h1>Results List</h1>


    
<table>
    <tr>
        <th>Student Name</th>
        <th>Marks Obtained</th>
        <th>Remarks</th>
    </tr>
    {% for student,remarks in students.items %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.marks }}</td>
        <td>{{ remarks|get_remarks }}</td>
    </tr>
</table>

{% endfor %}
{% endblock %}