{% extends 'base.html' %}
{% load custom_tags %}

{% comment %} 

Ya chai sabai student ko list hunxa 
subject dropdown hunxa from which we select subject whose result we want to see 
Accessible to student and teachers both

has columns as:

|Student Name   | Marks Obtained | Remarks |
|1. Ram         |     40         |  Pass   |


{% endcomment %}





{% block title %}
Results List
{% endblock %}


{% block content %}
<div class="px-10 py-5">
<h1>Results List</h1>
<br>
<div class="flex justify-center">
  <div class="border border-gray-300">
    <table class="w-full">
      <tr class="border-b-2 border-gray-300">
        <th class="border-r-2 border-gray-300 px-4 py-2">Student Name</th>
        <th class="border-r-2 border-gray-300 px-4 py-2">Marks Obtained</th>
        <th class="border-r-2 border-gray-300 px-4 py-2">Remarks</th>
      </tr>
      {% for student, remarks in students.items %}
      <tr class="border-b-2 border-gray-300">
        <td class="border-r-2 border-gray-300 px-4 py-2">{{ student.name }}</td>
        <td class="border-r-2 border-gray-300 px-4 py-2">{{ student.marks }}</td>
        <td class="border-r-2 border-gray-300 px-4 py-2">{{ remarks|get_remarks }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
</div>

{% endblock %}