{% extends 'base.html' %}
{% block title %}
{% endblock title %}
Update Notice
{% block content %}
<div class="bg-green-700 justify-center items-center text-white w-20 font-bold py-2 px-4 rounded flex items-center"><a href="javascript:history.back()"> <- </a></div>

  <h2>Update Student notice</h2>
  <form action="" method="POST" class="mt-4 border border-gray-300 rounded p-4 flex flex-col gap-2 w-96">
    {% csrf_token %}
  
    {{form.as_p}}

    <button type="submit" class="bg-green-500 py-1 w-24 mx-auto text-white rounded-md hover:bg-green-600">Update</button>

{% endblock %}